@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

main{
    /* padding: 10px 50px; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    /* scroll-behavior: smooth; */
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 2rem;
    overflow:visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}
#logo{
   margin-left: 150px
}

/* #nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    z-index: 100;
    transition: .3s;
    background: transparent;
    justify-content: space-between;
    align-items: center;
}

#nav-bar{
  background: var(--bg-color);
  height: 10%;
} */

#nav{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 45%;
}
.nav-text{
    margin-right: 70px;
}
#nav >  a{
    margin: 0 2rem;
    text-decoration: none;
    font-size: 30px;
    color: grey;
}
#nav >  a:hover{
    color: black;
}
.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: white;
    border: none;
    color: #000;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
#nav-burger{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 100;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    text-align: left;
    z-index: 999;
}
#nav-burger a {
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    color: grey;
    transition: color 0.3s;
}

#nav-burger a:hover {
    color: black;
}

#nav-bar .nav-btn {
    cursor: pointer;
    font-size: 1.8rem;
}

#hero-section{
    text-wrap:wrap;
    text-align: left;
    justify-content: center;
    color: white;
    background: url('../../assets/high-resolution.jpg');
    padding: 400px 400px;
    background-size:cover;
    position: relative;
    margin-bottom: 100px;
    width: moz-fit-content;
}
#hero-section span{
    color: rgb(221, 103, 30);
}
#hero-section h2{
    margin-left: 10px;
    font-size: 30px;
}
#hero-section h1{
    font-size: 60px;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
    padding-top: 100px;
}
#about-vision-header{
    display: flex;
    flex-direction: column;
}
#clickers{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clickers > h2{
    margin-right: 15px;
    font-size: 27px;
}
.headings{
    font-size: 40px;
    margin-bottom: 100px;
}
#about-heading > p{
    margin-bottom: 90px;
    font-size: 20px;
}
#about-heading > h2{
    margin-left: 20px;
    margin-top: 10px;
}
#clicked-text > h2{
    font-size: 27px;
}
.clicked-text-head{
    text-align: left;
    font-size: 30px;
}
.vision-mission-header > p{
    text-align: left;
}
.vision-mission{
    display: flex;
}
.vision-mission-header{
    margin-right: 100px;
}

.gallery > img{
    height: 300px;
}
#gallery{
    padding-top: 100px;
    margin-bottom: 300px;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
#gallery-first > h2{
    margin-left: 10px;
    margin-bottom: 100px;
    margin-top: 10px;
}
#gallery-first > p{
    margin-bottom: 100px;
}
#sasi-intro{
    background: url('../../assets/WhatsApp\ Image\ 2023-12-14\ at\ 00.34.13.jpeg');
    background-size: cover;
    justify-content: center;
    position: relative;
    padding: 400px;
}
#text-sasi{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    width: 50vw;
    background-color: transparent;
    padding: 30px 30px;
}

#text-sasi >p{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
#inner-sasi{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inner-sasi > h2{
    margin-left: 50px;
    font-size: 100px;
    margin-bottom: -20px;
    
}
#inner-sasi > h2 > span{
    color: red;
}
#inner-sasi > img{
    height: 90px;
    margin-left: 20px;
}
#sasi-button{
    padding: 20px;
    background: red;
    color: whitesmoke;
    font-size: 20px;
    border: 0px;
    border-radius: 15px;
}
#text-sasi > button:hover{
    background: black;
    color: whitesmoke;
    cursor: pointer;
}
#footer{
    color: whitesmoke;
    margin-top: 200px;
    background: black;
    
}
#first-footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#second-column-footer{
    display: flex;
    flex-direction: column;
}
#third-column-footer{
    display: flex;
    flex-direction: column;
}
#first-column-footer > h4{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: -30px;
}
#first-column-footer > p{
    padding-top: 40px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: left;
}
#first-column-footer > div > button> img{
    height: 3vh;
    
}
#first-column-footer > div > button{
    margin-right: 20px;
    cursor:pointer;
}
#second-column-footer{
    text-align: left;
}
#second-column-footer > h4{
    padding-top: 40px;
    font-size: 25px;
    margin-bottom: 10px;
}
#second-column-footer > a {
    margin: 10px 0px;
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
}
#third-column-footer{
    text-align: left;
}
#third-column-footer > h4{
    padding-top: 40px;
    font-size: 25px;
    margin-bottom: 10px;
}
#third-column-footer > a {
    margin: 10px 0px;
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;

}
.ScrollButton{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background: none;
    border: none;
    cursor: pointer;
}
#second-footer > hr{
    margin: 0px 250px;
    margin-top: 100px;
    margin-bottom: 30px;
}
#second-footer > p{
    padding-bottom: 30px;
}


@media screen and (max-width: 768px) {
    .nav-btn {
      display: block;
      visibility: visible;
      opacity: 1;
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 1.8rem;
      z-index: 1001;
    }
  
    #nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: white;
      padding-top: 2rem;
      text-align: center;
      z-index: 1000;
    }
  
    #nav.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    #nav a {
      font-size: 20px;
      margin: 15px;
      text-decoration: none;
      color: grey;
      transition: color 0.3s;
    }
  
    #nav a:hover {
      color: black;
    }

  
    #nav-btn {
      padding: 5px;
      cursor: pointer;
      background: white;
      border: none;
      color: #000;
      outline: none;
    }
    
    #about-heading{
        margin-top: 100px;
    }
    .vision-mission{
        display: block;
        padding-left: 30px;
    }
    
    .gallery {
        display: flex;
        flex-direction: column; 
    }
    .gallery > img {
        width: 100%;
    }
    #inner-sasi > h2{
        margin-top: -15px;
    }
    #first-footer {
        padding: 30px ;
        flex-direction: column;
    }
    
    #first-column-footer,
    #second-column-footer,
    #third-column-footer {
        margin-bottom: 20px;
    }
    #first-column-footer{
        margin-top: 50px;
    }
  }
  

@media screen and (max-width: 1024px) {
    .nav-btn {
        display: block;
        visibility: visible;
        opacity: 1;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 1.8rem;
        z-index: 1001;
      }
    
      #nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        padding-top: 2rem;
        text-align: center;
        z-index: 1000;
      }
    
      #nav.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      #nav a {
        font-size: 20px;
        margin: 15px;
        text-decoration: none;
        color: grey;
        transition: color 0.3s;
      }
    
      #nav a:hover {
        color: black;
      }
  
    
      #nav-btn {
        padding: 5px;
        cursor: pointer;
        background: white;
        border: none;
        color: #000;
        outline: none;
      }
    #hero-section {
        padding: 200px 20px;
        font-size: 18px;
    }

    #about {
        padding-top: 50px;
        font-size: 16px;
    }
    #about-heading{
        margin-top: 100px;
    }
    .vision-mission{
        display: block;
        padding: 0px 30px;
    }
    .vision-mission-header{
        padding-bottom: 20px;
    }
    .gallery {
        display: flex;
        flex-direction: column; 
    }
    .gallery > img {
        max-width: 100%; 
        height: auto;
    }
    #inner-sasi > h2{
        margin-top: -15px;
    }
    #text-sasi{
        margin-left: -80px;
    }
    #footer {
        margin-top: 50px;
    }

    #second-footer > p {
        padding-bottom: 50px;
    }
}
